@page "/Class/{id}"

@inject AuthenticationStateProvider _authenticationStateProvider
@inject IClassService _classService;

<div class="jumbotron my-5 d-flex flex-wrap">
    <div class="d-flex flex-grow-1 mr-5">
        <div class="hydra-card">
            <img src="@_videoClass.ImageUrl" alt="" />
        </div>
        <div class="ml-5 w-75 d-flex flex-column justify-content-between">
            <TextEdit @bind-Text="@_videoClass.Name" Placeholder="Class Name" Class="mb-3"></TextEdit>
            <MemoEdit Rows="3" @bind-Text="@_videoClass.Description" Placeholder="Class Description"></MemoEdit>
        </div>
    </div>
    <div class="flex-grow-1 pt-3 d-flex align-items-end">
        <Button Color="Color.Primary">Save</Button>
        <Button Type="@ButtonType.Link" To="@($"GroupCreate/{Id}")" Color="Color.Warning" Class="ml-2">Create Group</Button>
    </div>
</div>

@code
{
    [Parameter]
    public string Id { get; set; }

    private VideoClass _videoClass = new();

    protected override async Task OnInitializedAsync()
    {
        _videoClass = await _classService.GetClassAsync(Id);
    }

}
