@page "/Class/{id}"
@using Hydra.Module.Video.Contracts

@inject AuthenticationStateProvider _authenticationStateProvider
@inject IClassService _classService;

@if (_videoClass != null)
{

    <ManageComponent @ref="_managedComponent" ManagedItem="_videoClass">
        <Div Class="align-items-baseline d-flex flex-column h-100 justify-content-between">
            <h5>Edit class</h5>
            <Div Class="d-flex align-items-baseline">
                <Button Color="Color.Primary" Clicked="@UpdateClass" Class="mr-2">Save</Button>
                <Button Type="@ButtonType.Link" To="@($"GroupCreate/{Id}")" Color="Color.Warning" Class="ml-2">Create Group</Button>
            </Div>
        </Div>
    </ManageComponent>

    <Div class="container-fluid d-flex flex-wrap">
        @foreach (var @group in _videoClass.VideoGroups)
        {
            <Div Class="m-4">
                <Button Type="@ButtonType.Link" To="@($"Group/{@group.Id}")">

                    <GroupCard VideoGroup="@group"></GroupCard>
                </Button>
            </Div>
        }
    </Div>

}
else
{
    <HydraLoader />
}

@code
{
    [Parameter]
    public string Id { get; set; }

    private VideoClass _videoClass;

    private ManageComponent _managedComponent;

    protected override async Task OnInitializedAsync()
    {
        _videoClass = await _classService.GetClassAsync(Id);
    }

    private void UpdateClass()
    {
        if (_managedComponent.Validate())
        {
            _classService.UpdateClassAsync(_videoClass);
        }
    }

}
