@page "/Playlist/{id}"
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IPlaylistService _playlistService
@inject IVideoService _videoService
@inject NavigationManager _navigationManager

@if (_playlist != null)
{

    <ManageComponent @ref="_managedComponent" ManagedItem="_playlist">
        <Div Class="align-items-baseline d-flex flex-column h-100 justify-content-between">
            <h5>Edit Playlist</h5>
            <Div Class="d-flex align-items-baseline">
                <Button Color="Color.Primary" Clicked="@UpdatePlaylist" Class="mr-2">Save</Button>
                <Dropdown Direction="Direction.Down" Class="mr-2">
                    <DropdownToggle Color="Color.Warning">
                        Add Video
                    </DropdownToggle>
                    <DropdownMenu>
                        @if (_availableVideos is { Count: > 0 })
                        {
                            <Repeater Items="_availableVideos">
                                <DropdownItem @key="@context.Id" Value="context" Clicked="AddVideoToPlaylist">@context.Name</DropdownItem>
                            </Repeater>
                        }
                        else
                        {
                            <DropdownItem Class="text-muted small" Disabled="true">empty</DropdownItem>
                        }
                    </DropdownMenu>
                </Dropdown>
                <Button Color="Color.Danger" Clicked="PlaylistDelete">Delete</Button>
            </Div>
        </Div>
    </ManageComponent>

    <Div class="container-fluid d-flex flex-wrap">
        <Repeater Items="_playlist.Videos">
            <Div Class="m-4">
                <VideoCard @key="@context.Id" Video="@context" Playlist="_playlist" AllPlaylists="_allPlaylists" VideoRemoved="OnVideoRemoved" />
            </Div>
        </Repeater>
    </Div>
    <HydraDialog @ref="_confirmDialog"
             ButtonNoText="Cancel"
             ButtonYesText="Ok"
             OnAccept="ActionAcceptedAsync">
        @_playlist.Name playlist will be permanently removed.
    </HydraDialog>
}
else
{
    <HydraLoader />
}

@code {
    [Parameter]
    public string Id { get; set; }

    private VideoPlaylist _playlist;

    private ManageComponent _managedComponent;

    private IEnumerable<Video> _allVideos;

    private List<Video> _availableVideos;

    private List<VideoPlaylist> _allPlaylists;

    private HydraDialog _confirmDialog;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        _allPlaylists = await _playlistService.GetPlayListsAsync(authState.User.Identity?.Name);
        await LoadData();
    }

    private void UpdatePlaylist()
    {
        if (_managedComponent.Validate())
        {
            _playlistService.UpdatePlaylistAsync(_playlist);
        }
    }

    private async Task AddVideoToPlaylist(object obj)
    {
        var video = (Video)obj;
        if (await _playlistService.AddVideoAsync(Id, video.Id.ToString()))
            await LoadData();
    }

    private async Task OnVideoRemoved()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        _playlist = await _playlistService.GetPlaylistAsync(Id);
        _allVideos = await _videoService.GetAllVideosAsync();
        _availableVideos = _allVideos.ToList().FindAll(x => !_playlist.Videos.Select(v => v.Id).Contains(x.Id));
    }

    private void PlaylistDelete()
    {
        _confirmDialog.Show();
    }

    private async Task ActionAcceptedAsync()
    {
        if (await _playlistService.DeletePlaylistAsync(_playlist.Id.ToString()))
        {
            _navigationManager.NavigateTo("");
        }
    }

}